---
layout: base.njk
title: Home
---
<h1>Matthew Blog</h1>

<ul>
    {% for issue in issues -%}
    <li>
        <a href="{{ issue.path | url }}">
            {{- issue.title -}}
        </a>
    </li>
    {%- endfor %}
</ul>
